.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
  width:80%;
  margin:0 auto;
}

.contactCard{
  width:30%;
  height:120px; 
  background-color:rgba(0,0,0,0.05);
  padding:10px;
  margin:10px;
  cursor: pointer;
}
.contactCard:hover{
  background-color:rgba(0,0,0,0.1);
}

.searchField{
  height:30px;
  padding: 8px 10px;
  margin: 2px 0;
  box-sizing: border-box;
}

.rows{
  text-align:left;
}

.radioWrapper{
  padding:20px;
}

.innerContent{
  margin-top:20px;
}